In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
data = pd.read_csv('adult.data.csv')
print("\n".join(data.columns))

age
 workclass
 fnlwgt
 education
 education-num
 marital-status
 occupation
 relationship
 race
 sex
 capital-gain
 capital-loss
 hours-per-week
 native-country
 salary

In [ ]:
data.shape

(32561, 15)

In [ ]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many men and women (sex feature) are represented in this dataset?

In [ ]:
data[' sex'].value_counts()

 Male      21790
 Female    10771
Name:  sex, dtype: int64

### 2. What is the average age (age feature) of women?

In [ ]:
female_age=data.loc[data[' sex'] == ' Female', 'age']
female_age.mean()

36.85823043357163

### 3. What is the percentage of German citizens (native-country feature)?

In [ ]:
Germans = len(data[data[' native-country'] == ' Germany'])
world = len(data)
(Germans / world)*100

0.42074874850281013

###  4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [ ]:
more_than_50k = data[data[' salary'] == ' >50K']['age']
Mean_more_50k= np.mean(more_than_50k)
SD_more_50k=np.std(more_than_50k)
print('For people who earn more than 50k per year, the mean age is', Mean_more_50k, 'and the standard deviation is',SD_more_50k )

less_than_50k= data[data[' salary'] == ' <=50K']['age']
Mean_less_50k= np.mean(less_than_50k)
SD_less_50k=np.std(less_than_50k)
print('For people who earn less than 50k per year, the mean age is', Mean_less_50k, 'and the standard deviation is',SD_less_50k )

For people who earn more than 50k per year, the mean age is 44.24984058155847 and the standard deviation is 10.51835692766163
For people who earn less than 50k per year, the mean age is 36.78373786407767 and the standard deviation is 14.019804910115282

### 5. Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [ ]:
data[data[" salary"] == " >50K"][" education"].value_counts()

 Bachelors       2221
 HS-grad         1675
 Some-college    1387
 Masters          959
 Prof-school      423
 Assoc-voc        361
 Doctorate        306
 Assoc-acdm       265
 10th              62
 11th              60
 7th-8th           40
 12th              33
 9th               27
 5th-6th           16
 1st-4th            6
Name:  education, dtype: int64

No , as we can see there are people with below 9th grade earning more than 50k

### 6.  Display age statistics for each race (race feature) and each gender (sex feature).

Hint: Use `groupby()` and `describe()` functions of DataFrame. Find the maximum age of men of Amer-Indian-Eskimo race.

In [ ]:
data.groupby(by=" race")["age"].describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

The maximum age of men of Amer-Indian-Eskimo race is 82

In [ ]:
data.groupby(by=" sex")["age"].describe()

           count       mean        std   min   25%   50%   75%   max
 sex
 Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
 Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

### 7. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [ ]:
data[" hours-per-week"].max()

99

In [ ]:
len(data[data[" hours-per-week"] == data[" hours-per-week"].max()])

85

In [ ]:
data[data[" hours-per-week"] == data[" hours-per-week"].max()][' salary'].value_counts()

 <=50K    60
 >50K     25
Name:  salary, dtype: int64

In [ ]:
25/85*100

29.411764705882355

### 8. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [ ]:
result = data.pivot_table(values=' hours-per-week', index=' native-country', columns=' salary', aggfunc='mean')
result

 salary                          <=50K       >50K
 native-country
 ?                           40.164760  45.547945
 Cambodia                    41.416667  40.000000
 Canada                      37.914634  45.641026
 China                       37.381818  38.900000
 Columbia                    38.684211  50.000000
 Cuba                        37.985714  42.440000
 Dominican-Republic          42.338235  47.000000
 Ecuador                     38.041667  48.750000
 El-Salvador                 36.030928  45.000000
 England                     40.483333  44.533333
 France                      41.058824  50.750000
 Germany                     39.139785  44.977273
 Greece                      41.809524  50.625000
 Guatemala                   39.360656  36.666667
 Haiti                       36.325000  42.750000
 Holand-Netherlands          40.000000        NaN
 Honduras                    34.333333  60.000000
 Hong                        39.142857  45.000000
 Hungary                     31.300000  50.000000
 India                       38.233333  46.475000
 Iran                        41.440000  47.500000
 Ireland                     40.947368  48.000000
 Italy                       39.625000  45.400000
 Jamaica                     38.239437  41.100000
 Japan                       41.000000  47.958333
 Laos                        40.375000  40.000000
 Mexico                      40.003279  46.575758
 Nicaragua                   36.093750  37.500000
 Outlying-US(Guam-USVI-etc)  41.857143        NaN
 Peru                        35.068966  40.000000
 Philippines                 38.065693  43.032787
 Poland                      38.166667  39.000000
 Portugal                    41.939394  41.500000
 Puerto-Rico                 38.470588  39.416667
 Scotland                    39.444444  46.666667
 South                       40.156250  51.437500
 Taiwan                      33.774194  46.800000
 Thailand                    42.866667  58.333333
 Trinadad&Tobago             37.058824  40.000000
 United-States               38.799127  45.505369
 Vietnam                     37.193548  39.200000
 Yugoslavia                  41.600000  49.500000

Japan <=50K: 41.0   
Japan >50K: 47.958333